<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <td><img src="/product_images/{{this.product._id}}.jpg" style="width: 70px; height:70px" alt="">
                    </td>
                    <td>{{this.product.Name}}</td>
                    <td>{{this.product.Price}}</td>

                    <td>

                        <button class="cart-item-count mt-2  btn btn-primary"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart=items-count mt-2  btn btn-primary"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">X</a>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h5 class="mt-4 mr-4 float-right">Cart Total: Rs.<span id="total">{{totalValue}}</span></h5>
            <a href="/place-order" class="btn btn-success  mt-3" style="width: 100%;"><b>Place Order</b></a>
        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        console.log(userId)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    swal("Product removed successfully");
                    location.reload()
                } else {
                    console.log(response)
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total

                }
            }
        })
    }    
</script>